body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}
header img {
    position: relative;
    max-width: 1000px;

}
header{
    text-align: center;
    font-size: 50px;
 
}

header h1{
    color: rgb(255, 0, 0);
    text-align: center;
    
}
main{
    max-width: 100000px;
}
main img{
 max-width: 100%;   
}
h2,p{
    text-align: center;
}
footer img{
    align-items: center;
}